﻿
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rockie | Crypto Exchange HTML Template</title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/rockie/app/dist/app.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <!-- End Style CSS -->
    <link rel="shortcut icon" href="/rockie/assets/images/logo/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/rockie/assets/images/logo/favicon.png">
</head>
<body>
    <section class="register">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-text center">
                        <h3 class="heading">Koin Yükleme</h3>
                        <p class="desc fs-20">Koin Yükleme Sayfasına Hoşgeldiniz</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="flat-tabs">
                        <div class="content-tab">
                            <div class="content-inner">
                                <form method="post" asp-action="CoinUpload" asp-controller="WalletPage">
                                    <button type="submit" class="btn-action">Koin Yükle</button>
                                </form>
                                @if (@ViewBag.uploadSuccecful !=null)
                                {
                                    <div class="bottom">
                                        <p>Yükeleme tamamlandı! Ana sayfaya dönmek ister misiniz? <a href="/HomePage/Index">Evet</a></p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/rockie/app/js/aos.js"></script>
    <script src="/rockie/app/js/jquery.min.js"></script>
    <script src="/rockie/app/js/jquery.easing.js"></script>
    <script src="/rockie/app/js/popper.min.js"></script>
    <script src="/rockie/app/js/bootstrap.min.js"></script>
    <script src="/rockie/app/js/jquery.peity.min.js"></script>
    <script src="/rockie/app/js/Chart.bundle.min.js"></script>
    <script src="/rockie/app/js/apexcharts.js"></script>
    <script src="/rockie/app/js/switchmode.js"></script>
    <script src="/rockie/app/js/chart.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <!-- Swiper JS -->
    <script src="/rockie/app/js/swiper-bundle.min.js"></script>
    <script src="/rockie/app/js/swiper.js"></script>
    <script src="/rockie/app/js/app.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('form').addEventListener('submit', function (e) {
                var button = this.querySelector('.btn-action');
                button.innerText = 'Koin yükleniyor...';
                button.classList.add('loading');
                setTimeout(() => {
                    button.innerText = '0.5 Etherum yüklendi';
                    button.classList.remove('loading');
                }, 15000);
            });
        });
    </script>
</body>
</html>
