﻿@{
    Layout = null;
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rockie | Crypto Exchange HTML Template</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="/rockie/app/dist/app.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
          rel="stylesheet" />
    <!-- End Style CSS -->

    <link rel="shortcut icon" href="/rockie/assets/images/logo/favicon.png" />
    <link rel="apple-touch-icon-precomposed"
          href="/rockie/assets/images/logo/favicon.png" />
</head>

<section class="register">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block-text center">
                    <h3 class="heading">Register To Rockie</h3>
                    <p class="desc fs-20">
                        Register in advance and enjoy the event benefits
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="flat-tabs">
                    <ul class="menu-tab">
                        <li class="active"><h6 class="fs-16">İptal</h6></li>
                        <li><h6 class="fs-16"><a href="/RegisterAndLogin/Register">Onyalıyorum</a></h6></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<script src="/rockie/app/js/aos.js"></script>
<script src="/rockie/app/js/jquery.min.js"></script>
<script src="/rockie/app/js/jquery.easing.js"></script>
<script src="/rockie/app/js/popper.min.js"></script>
<script src="/rockie/app/js/bootstrap.min.js"></script>
<script src="/rockie/app/js/jquery.peity.min.js"></script>
<script src="/rockie/app/js/Chart.bundle.min.js"></script>
<script src="/rockie/app/js/apexcharts.js"></script>
<script src="/rockie/app/js/switchmode.js"></script>

<script src="/rockie/app/js/chart.js"></script>
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

<!-- Swiper JS -->
<script src="/rockie/app/js/swiper-bundle.min.js"></script>

<script src="/rockie/app/js/swiper.js"></script>

<script src="/rockie/app/js/app.js"></script>