<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="banner__content">
                    <h2 class="title">44 Wallet ve 44 Swap ile artık çok kolay </h2>
                    <p class="fs-20 desc">
                        Kendi cüzdanınızı oluşturun ve anında alım satıma başlayın.
                    </p>
                    <a href="/RegisterAndLogin/RegisetrConfirm" class="btn-action"><span>Şimdi başlayın</span></a>
                  
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="banner__image">
                    <img src="/rockie/assets/images/layout/banner1.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
