
<section class="crypto" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="crypto__main">
                    <div class="flat-tabs">
                        <ul class="menu-tab">
                            <li class="active"><h6 class="fs-1d6">Populer Crypto</h6></li>
                        </ul>
                        <div class="content-tab">
                            <div class="content-inner">
                                <div class="crypto-box">
                                    <!-- TradingView Widget BEGIN -->
                                    <div class="tradingview-widget-container">
                                        <div class="tradingview-widget-container__widget"></div>
                                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                                              {
                                              "symbol": "FX:USDTRY",
                                              "width": "100%",
                                              "height": "100%",
                                              "locale": "en",
                                              "dateRange": "3M",
                                              "colorTheme": "light",
                                              "isTransparent": false,
                                              "autosize": true,
                                              "largeChartUrl": ""
                                            }
                                        </script>
                                    </div>
                                    <!-- TradingView Widget END -->
                                </div>
                                <div class="crypto-box">
                                    <!-- TradingView Widget BEGIN -->
                                    <div class="tradingview-widget-container">
                                        <div class="tradingview-widget-container__widget"></div>
                                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                                              {
                                              "symbol": "BITSTAMP:BTCUSD",
                                              "width": "100%",
                                              "height": "100%",
                                              "locale": "en",
                                              "dateRange": "3M",
                                              "colorTheme": "light",
                                              "isTransparent": false,
                                              "autosize": true,
                                              "largeChartUrl": ""
                                            }
                                        </script>
                                    </div>
                                    <!-- TradingView Widget END -->
                                </div>
                                <div class="crypto-box">
                                    <!-- TradingView Widget BEGIN -->
                                    <div class="tradingview-widget-container">
                                        <div class="tradingview-widget-container__widget"></div>
                                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                                              {
                                              "symbol": "BITSTAMP:ETHUSD",
                                              "width": "100%",
                                              "height": "100%",
                                              "locale": "en",
                                              "dateRange": "3M",
                                              "colorTheme": "light",
                                              "isTransparent": false,
                                              "autosize": true,
                                              "largeChartUrl": ""
                                            }
                                        </script>
                                    </div>
                                    <!-- TradingView Widget END -->
                                </div>
                                <div class="crypto-box">
                                    <!-- TradingView Widget BEGIN -->
                                    <div class="tradingview-widget-container">
                                        <div class="tradingview-widget-container__widget"></div>
                                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                                              {
                                              "symbol": "BITSTAMP:XRPUSD",
                                              "width": "100%",
                                              "height": "100%",
                                              "locale": "en",
                                              "dateRange": "3M",
                                              "colorTheme": "light",
                                              "isTransparent": false,
                                              "autosize": true,
                                              "largeChartUrl": ""
                                            }
                                        </script>
                                    </div>
                                    <!-- TradingView Widget END -->
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-btc">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span>
                                            <span>Bitcoin</span>
                                            <span class="unit">BTC/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 46,168.95</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <p class="sale critical">-0.79%</p>
                                    </div>
                                </div>
                                <div class="crypto-box active">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-eth">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                            </span><span>Ethereum</span>
                                            <span class="unit">ETH/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD $3,480.04</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale success">+10.55%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-tether">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span><span>Tether</span>
                                            <span class="unit">USDT/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 1.00</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-0.01%%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-bnb">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
                                            </span><span>BNB</span> <span class="unit">BNB/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 443.56</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-1.24%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-btc">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span>
                                            <span>Bitcoin</span>
                                            <span class="unit">BTC/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 46,168.95</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <p class="sale critical">-0.79%</p>
                                    </div>
                                </div>
                                <div class="crypto-box active">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-eth">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                            </span><span>Ethereum</span>
                                            <span class="unit">ETH/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD $3,480.04</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale success">+10.55%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-tether">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span><span>Tether</span>
                                            <span class="unit">USDT/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 1.00</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-0.01%%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-bnb">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
                                            </span><span>BNB</span> <span class="unit">BNB/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 443.56</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-1.24%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-btc">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span>
                                            <span>Bitcoin</span>
                                            <span class="unit">BTC/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 46,168.95</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <p class="sale critical">-0.79%</p>
                                    </div>
                                </div>
                                <div class="crypto-box active">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-eth">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                            </span><span>Ethereum</span>
                                            <span class="unit">ETH/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD $3,480.04</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale success">+10.55%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-tether">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span><span>Tether</span>
                                            <span class="unit">USDT/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 1.00</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-0.01%%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-bnb">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
                                            </span><span>BNB</span> <span class="unit">BNB/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 443.56</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-1.24%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-btc">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span>
                                            <span>Bitcoin</span>
                                            <span class="unit">BTC/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 46,168.95</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <p class="sale critical">-0.79%</p>
                                    </div>
                                </div>
                                <div class="crypto-box active">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-eth">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                            </span><span>Ethereum</span>
                                            <span class="unit">ETH/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD $3,480.04</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale success">+10.55%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-tether">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span><span>Tether</span>
                                            <span class="unit">USDT/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 1.00</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-0.01%%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-bnb">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
                                            </span><span>BNB</span> <span class="unit">BNB/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 443.56</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-1.24%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-btc">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span>
                                            <span>Bitcoin</span>
                                            <span class="unit">BTC/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 46,168.95</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <p class="sale critical">-0.79%</p>
                                    </div>
                                </div>
                                <div class="crypto-box active">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-eth">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                            </span><span>Ethereum</span>
                                            <span class="unit">ETH/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD $3,480.04</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale success">+10.55%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-tether">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span><span>Tether</span>
                                            <span class="unit">USDT/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 1.00</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-0.01%%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-bnb">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
                                            </span><span>BNB</span> <span class="unit">BNB/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 443.56</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-1.24%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-inner">
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-btc">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span>
                                            <span>Bitcoin</span>
                                            <span class="unit">BTC/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 46,168.95</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <p class="sale critical">-0.79%</p>
                                    </div>
                                </div>
                                <div class="crypto-box active">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-eth">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                                            </span><span>Ethereum</span>
                                            <span class="unit">ETH/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD $3,480.04</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale success">+10.55%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-tether">
                                                <span class="path1"></span><span class="path2"></span>
                                            </span><span>Tether</span>
                                            <span class="unit">USDT/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 1.00</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-0.01%%</div>
                                    </div>
                                </div>
                                <div class="crypto-box">
                                    <div class="top">
                                        <a href="#">
                                            <span class="icon-bnb">
                                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
                                            </span><span>BNB</span> <span class="unit">BNB/USD</span>
                                        </a>
                                    </div>
                                    <h6 class="price">USD 443.56</h6>
                                    <div class="bottom">
                                        <p>36,641.20</p>
                                        <div class="sale critical">-1.24%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
