<footer class="footer">
    <div class="container">
        <div class="footer__main">
            <div class="row">
                <div class="col-xl-4 col-md-8">
                    <div class="info">
                        <a href="index.html" class="logo">
                            <img src="/rockie/assets/images/logo/log-footer1.png" alt="" />
                        </a>
                        <h6>Benimle iletişime geçin</h6>
                        <ul class="list">
                            <li><p>+90 545 968 5329</p></li>
                            <li><p>alisevgi225@gmail.com</p></li>
                            <li>
                                <p>
                                    
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
          </div>
        </div>
    </div>
    <div class="container-fluid bg">
        <div class="footer__bottom">
            <p>Copyright © 2022 Themesflat</p>
            <ul class="list-social">
                <li>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
